.header {
  animation-name: headerMove;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes headerMove {
  from {}
  
  to {
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) { 
  @keyframes headerMove {
    from {}
  
    to {
      margin-top: 1rem;
    }
  }
}
.background {
  animation: background;
  animation-duration: 35s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes background {
  from {}

  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-30px);
    opacity: 0.75;
  }

  30% {
    transform: translateY(-50px);
    opacity: 1;
  }

  45% {
    transform: translate(-150px, -90px);
    opacity: 0.75;
  }

  65% {
    transform: translate(-220px, 80px);
    opacity: 0.5;
    transform: scale(5);
  }

  85% {
    transform: translateX(-180px);
    transform: scale(0.8);
    opacity: 0.80;
  }

  100% {
    transform: translateX(-140px) scaleY(0.6);
    opacity: 0.90
  }
}

.containerTitle {
  animation: reScale 2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes reScale {
  0% {
    line-height: 0%;
    letter-spacing: 0.25em;
    opacity: 0;
  }
  25% {
    line-height: 0%;
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    line-height: 100%;
    opacity: 100%;
    transform: scale(0.7);
  }
}